:root {
  --color-green: #808B78;
  --color-brown: #42392B;
  --color-brown-200: #7D7872;
  --color-brown-100: #8B755D;
  --color-fondo: #F8F8F8;
  --color-gray: #C4C4C4;
  --color-white-soft: #FFFFFF;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: #42392B;
  background: #F8F8F8;
}